<div> Sports Book </div>
<button (click)="createConnection()">Create Connection</button>
<button (click)="stopConnection()">Stop Connection</button>

<br>
<h3> Score </h3>

<div class="score-board" *ngFor="let eventDetail of eventMarketArray">
  <div class="flex first-row">
    <div>1</div>
    <div>X</div>
    <div>2</div>
  </div>

  <div class="flex second-row">
    <div class="teams">
      <div>{{eventDetail?.homeTeam}}</div>
      <div>{{eventDetail?.awayTeam}}</div>
      <div>Live  68:37 2nd Half</div>
    </div>
    <div class="teams-score flex">
      <div>
        <div>{{eventDetail?.homeScore}}</div>
        <div>{{eventDetail?.awayScore}}</div>
        <div></div>
      </div>
      <div class="grey-bg">{{eventDetail?.home}}</div>
      <div class="grey-bg">{{eventDetail?.draw}}</div>
      <div class="grey-bg">{{eventDetail?.away}}</div>
    </div>
  </div>
</div>


